/target/
/coverage/
/jsCoverageReport/
.checkstyle
.classpath
.pmd
.project
.settings
build.sh
/logs
*.swp
/node
/node_modules/
.idea
.sass-cache
.DS_Store
.project
/src/main/webapp/resources/build
/src/main/webapp/resources/lib

# the below two entries must be deleted later and replaced with the project jsp when created.
/src/main/webapp/resources/index.html
/src/main/webapp/resources/index2.html
package-lock.json
/bin/
settings.json
.vscode/tasks.json
