<!--This is the template that generates index.html, webpack injects script and link tags with the neccessary url depending
on the chunks created, so no need to add script and link tags here -->
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div>Rigel demo
        <%=process.env.ASSET_PATH%>
    </div>
    <img src="<%=process.env.ASSET_PATH%>/resources/images/download-app-ios8.png">
    <a href="./index2.html">Goto next page, with a newer bundle</a>
</body>

</html>