/target/
/coverage
.checkstyle
.classpath
.pmd
.project
.settings
build.sh
/logs
*.swp
/node
/node_modules/
.idea
.sass-cache
.DS_Store
.project
/src/main/webapp/resources/build
/src/main/webapp/resources/lib
package-lock.json